/*Css button select product color*/
/* .select_color{
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    border: #000 solid 1px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
  }
.select_color:active{
    border-color: red;
} */

  /*end css button*/

  /*CSS for return file*/

  /*end css*/